* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "PT Sans", Verdana, Arial, sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.m-0 {
  margin: 0rem;
}

.mt-0 {
  margin: 0rem 0 0 0;
}

.mr-0 {
  margin: 0 0rem 0 0;
}

.mb-0 {
  margin: 0 0 0rem 0;
}

.ml-0 {
  margin: 0 0 0 0rem;
}

.my-0 {
  margin: 0rem 0;
}

.mx-0 {
  margin: 0 0rem;
}

.p-0 {
  padding: 0rem;
}

.pt-0 {
  margin: 0rem 0 0 0;
}

.pr-0 {
  margin: 0 0rem 0 0;
}

.pb-0 {
  margin: 0 0 0rem 0;
}

.pl-0 {
  margin: 0 0 0 0rem;
}

.py-0 {
  padding: 0rem 0;
}

.px-0 {
  padding: 0 0rem;
}

.m-1 {
  margin: 1rem;
}

.mt-1 {
  margin: 1rem 0 0 0;
}

.mr-1 {
  margin: 0 1rem 0 0;
}

.mb-1 {
  margin: 0 0 1rem 0;
}

.ml-1 {
  margin: 0 0 0 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.pt-1 {
  margin: 1rem 0 0 0;
}

.pr-1 {
  margin: 0 1rem 0 0;
}

.pb-1 {
  margin: 0 0 1rem 0;
}

.pl-1 {
  margin: 0 0 0 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.mt-2 {
  margin: 2rem 0 0 0;
}

.mr-2 {
  margin: 0 2rem 0 0;
}

.mb-2 {
  margin: 0 0 2rem 0;
}

.ml-2 {
  margin: 0 0 0 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.pt-2 {
  margin: 2rem 0 0 0;
}

.pr-2 {
  margin: 0 2rem 0 0;
}

.pb-2 {
  margin: 0 0 2rem 0;
}

.pl-2 {
  margin: 0 0 0 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.mt-3 {
  margin: 3rem 0 0 0;
}

.mr-3 {
  margin: 0 3rem 0 0;
}

.mb-3 {
  margin: 0 0 3rem 0;
}

.ml-3 {
  margin: 0 0 0 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.pt-3 {
  margin: 3rem 0 0 0;
}

.pr-3 {
  margin: 0 3rem 0 0;
}

.pb-3 {
  margin: 0 0 3rem 0;
}

.pl-3 {
  margin: 0 0 0 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.mt-4 {
  margin: 4rem 0 0 0;
}

.mr-4 {
  margin: 0 4rem 0 0;
}

.mb-4 {
  margin: 0 0 4rem 0;
}

.ml-4 {
  margin: 0 0 0 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.pt-4 {
  margin: 4rem 0 0 0;
}

.pr-4 {
  margin: 0 4rem 0 0;
}

.pb-4 {
  margin: 0 0 4rem 0;
}

.pl-4 {
  margin: 0 0 0 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.mt-5 {
  margin: 5rem 0 0 0;
}

.mr-5 {
  margin: 0 5rem 0 0;
}

.mb-5 {
  margin: 0 0 5rem 0;
}

.ml-5 {
  margin: 0 0 0 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.pt-5 {
  margin: 5rem 0 0 0;
}

.pr-5 {
  margin: 0 5rem 0 0;
}

.pb-5 {
  margin: 0 0 5rem 0;
}

.pl-5 {
  margin: 0 0 0 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.center {
  text-align: center;
}

.rainbow-border {
  display: block;
  width: 400px;
  max-width: 90%;
  margin: 20px auto 40px auto;
}

img {
  width: 100%;
}

.img, .img-small, .img-medium, .img-large {
  max-width: 100%;
}

.img-small {
  width: 200px;
}

.img-medium {
  width: 500px;
}

.img-large {
  width: 800px;
}

.rounded {
  border-radius: 70px;
}

.cropped {
  -o-object-fit: cover;
     object-fit: cover;
  width: 430px;
  height: 400px;
  display: block;
  margin: 0 auto;
}

.wrapper ul {
  list-style: none;
  margin-left: 20px;
  font-size: 20px;
  line-height: 1.8;
}

.wrapper ul li {
  margin: 20px 0;
}

.wrapper ul li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00AEEF;
  margin: 2.5px 10px;
}

.wrapper ol {
  counter-reset: item;
  margin: 0 0 1.5em;
  padding: 0;
}

.wrapper ol > li {
  counter-increment: item;
  list-style-type: none;
  margin: 20px 0;
  padding: 0 0 0 20px;
  text-indent: -20px;
  font-size: 20px;
}

.wrapper ol > li::before {
  content: counter(item) ".";
  display: inline-block;
  font-weight: bold;
  padding-right: .5rem;
  text-align: right;
  width: 1.5rem;
}

.timeline {
  width: 800px;
  max-width: 100%;
  margin: 20px auto;
}

.timeline p {
  border-top: 2px dashed #00AEEF;
  margin: 0;
  padding: 30px;
  counter-increment: section;
  position: relative;
}

.timeline p:nth-child(even)::before {
  content: counter(section);
  right: 100%;
  margin-right: -20px;
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 20px;
  width: 20px;
  background-color: #EC0092;
  color: #fff;
  font-size: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.timeline p:nth-child(odd)::before {
  content: counter(section);
  left: 100%;
  margin-left: -20px;
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 20px;
  width: 20px;
  background-color: #F79020;
  color: #fff;
  font-size: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.timeline p:nth-child(even) {
  border-left: 2px dashed #00AEEF;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 30px;
  margin-right: 30px;
  padding-right: 0;
}

.timeline p:nth-child(odd) {
  border-right: 2px dashed #00AEEF;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px;
  padding-left: 0;
}

.timeline p:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.timeline p:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

blockquote {
  font-size: 20px;
  font-style: italic;
  background: #eeeeee;
  color: #464646;
  padding: 20px;
  border-left: 10px solid #a5a5a5;
  margin: 20px 0;
}

blockquote span {
  display: block;
  margin-top: 10px;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.wrapper p a {
  color: #EC0092;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.wrapper p a:hover {
  color: #ff3ab4;
}

form {
  width: 600px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

form small {
  display: block;
  text-align: center;
  font-size: 16px;
}

form small a {
  font-size: 16px;
  text-decoration: underline;
  color: #EC0092;
  font-weight: 700;
}

form button {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-field {
  margin: 20px 0;
}

.input-field label {
  font-weight: 700;
  color: #00AEEF;
  display: block;
  font-size: 18px;
  margin: 5px;
}

.input-field input {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #00AEEF;
  border-radius: 30px;
  font-size: 18px;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.input-field input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 5px 0px #00AEEF;
          box-shadow: 0px 0px 5px 0px #00AEEF;
}

.error-msg {
  text-align: center;
  color: #fff;
  background: #ff2e2e;
  padding: 20px;
  border-radius: 30px;
}

.error-msg-small {
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  color: red;
  margin: 5px 15px;
}

.error-border {
  border: 2px solid red !important;
}

.dropdown {
  position: relative;
  display: inline-block;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 250px;
  -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 20px 10px;
  display: block;
}

.dropdown-content a:hover {
  background: #00AEEF;
  color: #fff !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

::-moz-selection {
  background: #03d148;
  color: #fff;
}

::selection {
  background: #03d148;
  color: #fff;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 20px 0;
}

p, ul, a {
  font-size: 20px;
}

.large-heading {
  font-size: 90px;
  line-height: 1;
}

.medium-heading {
  font-size: 80px;
}

.small-heading {
  font-size: 70px;
}

.large-body-txt {
  font-size: 24px;
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.wrapper {
  min-height: 70vh;
}

.container {
  width: 1100px;
  max-width: 95%;
  margin: 30px auto;
}

.hero {
  width: 100%;
  min-height: 400px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -1;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-flex div {
  width: 100%;
  margin: 10px;
}

.d-block {
  display: block;
}

.d-grid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin: 20px 0;
}

.col-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.col-4 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.margin-auto {
  margin: 0 auto;
}

.primary-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  padding: 20px 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #EC0092;
  color: #fff;
  margin: 20px 0;
  font-size: 20px;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
  border: none;
  cursor: pointer;
}

.primary-btn:hover {
  background: #d30082;
}

.secondary-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #00AEEF;
  color: #00AEEF;
  border-radius: 20px;
  font-weight: 700;
  padding: 8px 20px;
  letter-spacing: 2px;
  font-size: 18px;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.secondary-btn:hover {
  background-color: #00AEEF;
  color: #fff !important;
}

.navbar {
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  position: relative;
  top: 0;
  z-index: 999;
}

.navbar nav {
  width: 1100px;
  max-width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar nav .logo {
  width: 200px;
  max-width: 90%;
}

.navbar nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar nav .nav-links a {
  color: #00AEEF;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.navbar nav .nav-links a:hover {
  color: #009bd6;
}

.navbar nav .nav-links li {
  list-style-type: none;
}

.burger {
  display: none;
}

.burger div {
  width: 28px;
  height: 3px;
  border-radius: 5px;
  background-color: #00AEEF;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome div {
  width: 100%;
  height: 100%;
}

.welcome .right {
  background-image: url(../images/stock/IMG_7197.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
  border-bottom-left-radius: 50%;
  margin-left: 20px;
}

.bubble {
  position: relative;
  width: 400px;
  background: #e7e7e7;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #000;
}

.bubble-arrow::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #e7e7e7;
  border-right: 12px solid transparent;
  border-top: 12px solid #e7e7e7;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

.modules {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.modules a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  max-width: 100%;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #EC0092;
  margin: 20px 0;
  text-align: center;
  padding: 10px;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.modules .disabled {
  cursor: not-allowed;
  background: #fff;
}

.modules .enabled {
  background: #EC0092;
  color: #fff;
}

.programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.programs h3 {
  font-size: 40px;
}

.card {
  min-height: 400px;
  min-width: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 60px 50px;
  font-weight: 700;
}

.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 100px;
  width: 200px;
  height: 200px;
  margin: 20px 0;
}

.border-cyan {
  border: 10px solid #00AEEF;
  border-radius: 50%;
}

.border-orange {
  border: 10px solid #F79020;
  border-radius: 50%;
}

.cyan {
  color: #00AEEF;
}

.cyan-bg {
  background-color: #00AEEF;
}

.orange {
  color: #F79020;
}

.orange-bg {
  background-color: #F79020;
}

.magenta {
  color: #EC0092;
}

.magenta-bg {
  background-color: #EC0092;
}

.warm-red {
  color: #F26631;
}

.warm-red-bg {
  background-color: #F26631;
}

.warm-yellow {
  color: #FCBA2F;
}

.warm-yellow-bg {
  background-color: #FCBA2F;
}

.grey {
  color: #e7e7e7;
}

.grey-bg {
  background-color: #e7e7e7;
}

.white {
  color: #fff;
}

.white-bg {
  background-color: #fff;
}

footer {
  margin-top: 100px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 0;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0;
}

footer nav ul {
  list-style: none;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.8;
}

footer nav ul a {
  color: #00AEEF;
  font-size: 22px;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
  display: block;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

footer nav ul a:hover {
  color: #009bd6;
}

footer .copyright {
  color: #F79020;
  font-weight: 700;
  font-size: 22px;
}

footer .trademark {
  width: 300px;
  font-size: 18px;
}

.footer-logo img {
  width: 300px;
  max-width: 100%;
}

.footer-border {
  width: 105%;
  margin: 30px 0;
}

@media (max-width: 992px) {
  .col-3 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .col-4 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .programs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .programs div {
    margin: 50px 0;
  }
}

@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    right: 0;
    top: 11vh;
    height: 89vh;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    background: #fff;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .d-flex div {
    margin: 0;
  }
  .cropped {
    max-width: 100%;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 576px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer div {
    margin: 20px 0;
  }
  .col-3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .col-4 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}
