.cyan {
    color: $cyan;
}

.cyan-bg {
    background-color: $cyan;
}

.cyan-light-bg {
    background-color: lighten($cyan, 45%);
}

.orange {
    color: $orange;
}

.orange-bg {
    background-color: $orange;
}

.orange-light-bg {
    background-color: lighten($orange, 45%);
}

.magenta {
    color: $magenta;
}

.magenta-bg {
    background-color: $magenta;
}

.warm-red {
    color: $warm-red;
}

.warm-red-bg {
    background-color: $warm-red;
}

.warm-yellow {
    color: $warm-yellow;
}

.warm-yellow-bg {
    background-color: $warm-yellow;
}

.grey {
    color: $grey;
}

.grey-bg {
    background-color: $grey;
}

.white {
    color: $white;
}

.white-bg {
    background-color: $white;
}

