.cyan {
    color: $cyan;
}

.orange {
    color: $orange;
}

.magenta {
    color: $magenta;
}

.warm-red {
    color: $warm-red;
}

.warm-yellow {
    color: $warm-yellow;
}

.grey-bg {
    background-color: $grey-bg;
}

