footer {
    // margin-top: 100px;
    position: sticky;
    bottom: 0;
    z-index: 0;
    background: #fff;

    .container {
        width: 1400px;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 60px 10px;
    }

    nav ul {
        list-style: none;
        font-weight: $bold;
        letter-spacing: 2px;
        line-height: 1.8;

        a {
            color: $cyan;
            font-size: 22px;
            transition: .2s ease all;
            display: block;
            margin-bottom: 20px;
            letter-spacing: 3px;

            &:hover {
                color: darken($cyan, 5%);
            }
        }
    }

    .copyright {
        color: $orange;
        font-weight: $bold;
        font-size: 22px;
    }

    .trademark {
        width: 300px;
        font-size: 18px;
    }
}

.footer-logo img {
    width: 300px;
    max-width: 100%;
}

.footer-border {
    width: 105%;
    // margin: 30px 0;
}

