.container {
    width: 1100px;
    max-width: 95%;
    margin: 0 auto;
}

// Margin & padding classes
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
    .m-#{$space} {
        margin: #{$space}rem;
    }

    .mt-#{$space} {
        margin: #{$space}rem 0 0 0;
    }

    .mr-#{$space} {
        margin: 0 #{$space}rem 0 0;
    }

    .mb-#{$space} {
        margin: 0 0 #{$space}rem 0;
    }

    .ml-#{$space} {
        margin: 0 0 0 #{$space}rem;
    }

    .my-#{$space} {
        margin: #{$space}rem 0;
    }

    .mx-#{$space} {
        margin: 0 #{$space}rem;
    }

    .p-#{$space} {
        padding: #{$space}rem;
    }

    .pt-#{$space} {
        margin: #{$space}rem 0 0 0;
    }

    .pr-#{$space} {
        margin: 0 #{$space}rem 0 0;
    }

    .pb-#{$space} {
        margin: 0 0 #{$space}rem 0;
    }

    .pl-#{$space} {
        margin: 0 0 0 #{$space}rem;
    }

    .py-#{$space} {
        padding: #{$space}rem 0;
    }

    .px-#{$space} {
        padding: 0 #{$space}rem;
    }
}

.float-right {
    float: right;
}


.float-left {
    float: left;
}

.center {
    text-align: center;
}

.rainbow-border {
    display: block;
    width: 400px;
    max-width: 90%;
    margin: 20px auto 40px auto;
}

img {
    width: 100%;
}

.img {
    max-width: 100%;

    &-small {
        @extend .img;
        width: 200px;
    }

    &-medium {
        @extend .img;
        width: 500px;
    }

    &-large {
        width: 500px;
    }
}

.rounded {
    border-radius: 70px;
}

.cropped {
    object-fit: cover;
    width: 430px;
    height: 400px;
    display: block;
    margin: 0 auto;
}

ul {
    margin-left: 20px;
    font-size: 18px;
    font-weight: $bold;
}