// Fonts
$body-font: 'PT Sans', Verdana, Arial, sans-serif;

// Font weights
$regular: 400;
$bold: 700;

// Colours
$cyan: #00AEEF;
$magenta: #EC0092;
$warm-red: #F26631;
$orange: #F79020;
$warm-yellow: #FCBA2F;
$yellow: #C1D72E;
$grey: #e7e7e7;
$white: #fff;

