@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'reset';
@import 'variables';
@import 'utilities';
@import 'buttons';
@import 'navbar';

html, body {
    font-family: $body-font;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

p {
    margin: 20px 0;
}

img {
    width: 100%;
}

@import 'media-queries';