RewriteEngine on

#RewriteRule ^wee-read pages/wee-read.php [NC,L]
#RewriteRule ^pee-wee-read pages/pee-wee-read.php [NC,L]
#RewriteRule ^contact pages/contact.php [NC,L]
#RewriteRule ^404 pages/404.php [NC,L]


#404 Page
#ErrorDocument 404 http://gator3004.temp.domains/~alex/404
